# ignore iml file
CompetitiveProgramming.iml
# ignore class files
out/*
# ignore main file
src/Main.java
# ignore MyScanner.java
src/others/MyScanner.java
.idea/*
/src/atcoder/
/src/others/JavaForCP.java
